/*---Buttons---*/
.primaryButton {
  width: 5em;
  background: #403d39;
  border: none;
  border-radius: 11px;
}

.primaryButton:visited {
  background: #403d39;
}

.primaryButton:focus {
  background: #403d39;
  box-shadow: none !important;
}

.primaryButton:hover {
  background: #0266b3;
}

.primaryButton:active {
  background: #0178d4;
}

.primaryButton2 {
  background: #0178d4;
  border: none;
  border-radius: 11px !important;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 1em;
  font-family: "Poppins", "Roboto", sans-serif;
}

.primaryButton2:visited {
  background: #0178d4;
}

.primaryButton2:focus {
  background: #0178d4;
  box-shadow: none !important;
}

.primaryButton2:hover {
  background: #0266b3;
}

.primaryButton2:active {
  background: #0178d4;
}

.secondaryButton {
  background: #403d39;
  border: none;
  text-decoration: none;
  border-radius: 11px !important;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 1em;
  font-family: "Poppins", "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondaryButton:visited {
  color: #0178d4;
}

.secondaryButton:focus {
  color: #0178d4;
  box-shadow: none !important;
}

.secondaryButton:hover {
  background: #0266b3;
  color: white;
}

.secondaryButton:active {
  background: #0178d4;
  color: white;
  box-shadow: none !important;
}
