/*---Buttons---*/
.primaryButton {
    width: 5em;
    background: #403d39;
    border: none;
    border-radius: 11px;
}

.primaryButton:visited {
    background: #403d39;
}

.primaryButton:focus {
    background: #403d39;
    box-shadow: none !important;
}

.primaryButton:hover {
    background: #E40B0B;
}

.primaryButton:active {
    background: #E40B0B;
}


.primaryButton2 {
    background: #E40B0B;
    border: none;
    border-radius: 11px !important;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1em;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.primaryButton2:visited {
    background: #E40B0B;
}

.primaryButton2:focus {
    background: #E40B0B;
    box-shadow: none !important;
}

.primaryButton2:hover {
    background: #C30E0E;
}

.primaryButton2:active {
    background: #E40B0B;
}

.secondaryButton {
    background: #403d39;
    border: none;
    text-decoration: none;
    border-radius: 11px !important;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1em;
    font-family: 'Poppins', 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryButton:visited {
    color: #E40B0B;
}

.secondaryButton:focus {
    color: #C30E0E;
    box-shadow: none !important;
}

.secondaryButton:hover {
    background: #E40B0B;
    color: white;
}

.secondaryButton:active {
    background: #C30E0E;
    color: white;
    box-shadow: none !important;
}

